# Python
__pycache__/
*.pyc
.pytest_cache
.coverage
tests/__pycache__

# Virtual environment
.venv/
venv/

# Local configuration
/config/config.yaml

# logs
/logs/

# IDE
.idea/

# Local systemd files
server-health-checker.service
*.service.save
