[Unit]
Description=server-health-checker
After=network.target
[Service]
User=YOUR_USERNAME
WorkingDirectory=/path/to/server-health-checker
ExecStart=/usr/bin/python /path/to/server-health-checker/server_health_checker.py -c /path/to/server-health-checker/config.yaml
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
